doctype html
html
  head
    meta(charset='utf-8')
    title!= name
    meta(name='viewport', content='initial-scale=1', maximum-scale='1', user-scalable='no')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/app.min.css' rel='stylesheet')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  body
    div#map
    article#narrative
      div(class='sections prose')
        section#cover(class='cover active')
          h1!= map.name
          small(class='scroll quiet') Scroll 
        each location in locations
          section&attributes({'id': location.title})
            h3!= location.title
            p!= location.desc
        section#dummy
    script.
      var locations = !{JSON.stringify(locations)};
      L.mapbox.accessToken = 'pk.eyJ1Ijoibmxva2FyZSIsImEiOiJpdXpld1NzIn0.MgDypbwDp8FZIaW7bB9YvQ';
      var places = { type: 'FeatureCollection', features: []};

      for (var i = 0; i < locations.length; i++) {
        places.features.push({ geometry: { type: "Point", coordinates: [locations[i].lng, locations[i].lat]},
          properties: { id: locations[i].title, zoom: 16 }, type: 'Feature'
        });
      }

      places.features.push({ geometry: { type: "Point", coordinates: [locations[0].lng, locations[0].lat]},
        properties: { id: "cover", zoom: 14 }, type: 'Feature' });      
        
      var map = L.mapbox.map('map', 'nlokare.l114oiif', { zoomControl: true });

      var placesLayer = L.mapbox.featureLayer(places).addTo(map);
    script(src='/js/mymap.js')
